<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zenithstudios.michael.boxofficepredictor" >
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="Box Office Predictor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zenithstudios.michael.boxofficepredictor.MainActivity"
            android:label="Box Office Predictor"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustNothing"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
